
/*公共样式*/
body{font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif}
a{ text-decoration:none;}
li{ list-style:none;}
.xuanze{ cursor:pointer;}
.default{ cursor:default;}
.qxbj{ margin:0;padding:0;}

/*主导航样式*/
#nav{ background:#333;color:#b0b0b0;position:relative;padding-left:2%;}
#nav .nav-right{ position:relative;background:#333;z-index:5;float:right;}
#nav a{ font-size:12px;line-height:40px;color:#b0b0b0;position:relative;z-index:6;background:#333;}
#nav span{ font-size:12px;line-height:40px;color:#424242;margin:0.3em;}
#nav .nav-right .gwc{ display:inline-block;width:35%;background:#424242;text-align:center;margin-left:1%;transition:color .2s linear,background .2s linear;}
#nav .nav-right .gwc:hover{ color:#ff6700;background:#fff;}
#nav .nav-right .gwc:hover+.gwck{ top:40px;background:#fff;box-shadow:0 0 4px 1px #ccc;}
#nav .nav-right .gwck{ position:absolute;background:#333;padding:8%;color:#333;top:-155%;left:-18%;z-index:2;transition:top .2s linear;}
#nav .nav-menu{ display:none;}
@media screen and (min-width:1px) and (max-width:767px){ 
	#nav .nav-menu{ display:block;}
	#nav .nav-left{ display:none;}
}
/*#nav .nav-menu	 
#nav .nav-menu #dropdownMenu1{width:80%;height:42px;text-align:left;line-height:32px;}
#nav .nav-menu .sjan .xjt{ float:right;padding:10px;border-left:1px solid #e8e8e8;height:100%;margin-top:-2px;}
#nav .nav-menu ul{ width:60%;}
#nav .nav-menu li{ width:100%;border-bottom:1px solid #e0e0e0;}
#nav .nav-menu li a{ }*/	 
#nav .nav-menu select{ width:70px;margin-top:5px;padding:5px;border-radius:3px;background:#333;font-size:.8em;}	 
#nav .nav-menu select option{ display:block;font-size:.8em;padding:5px;}

/*头部样式*/
#header{ padding-left:2%}
/*头部导航样式*/
#header #header-nav{ padding:20px 0 0px ;}
#header #header-nav .header-nav-left a:nth-child(1){ display:inline-block;}
#header #header-nav .header-nav-left a:nth-child(1) img{ width:90%;}
#header #header-nav .header-nav-left a:nth-child(2){ display:inline-block;}
#header #header-nav .header-nav-left a:nth-child(2) img{ width:90%;}
#header #header-nav .header-nav-center{margin-left:-7%; }
#header #header-nav .header-nav-center ul{width:90%; margin:0;padding:0;}
#header #header-nav .header-nav-center ul li{ float:left;padding-left:2%;}
#header #header-nav .header-nav-center ul li a{ display:block;padding:26px 0 28px;color:#333;font-size:16px;transition:all .1s linear;-webkit-animation:doud .5s linear infinite 1.6s;}
#header #header-nav .header-nav-center ul li a:hover{ color:#ff6700;text-shadow:4px 4px 3px;text-decoration:none;;}
@keyframes doud{ 
			0%{-webkit-transform:scale(1); transform:rotate(0deg);} 
			25%{ -webkit-transform:scale(1);transform:rotate(10deg);} 
			75%{ -webkit-transform:scale(1);transform:rotate(-10deg);}
			100%{ -webkit-transform:scale(1);transform:rotate(0deg);} 
		}
#header #header-nav .header-nav-center ul li:first-child a{ padding-left:0px;}
#header #header-nav .header-nav-right{margin-left:-13.3%;}
#header #header-nav .header-nav-right form{ padding:10px 0 10px 70px; }
#header #header-nav .header-nav-right input[type="search"]{ width:90%;padding-bottom:10%;margin-left:-28%;}
#header #header-nav .header-nav-right input[type="submit"]{ background:url(../images/2016-07-04T07-53-31.978Z.png) no-repeat;background-size:100% 130%;padding-bottom:10%;width:30%;margin-left:-8px;}

/*头部中间样式*/
#header #header-content{ width:80%;padding:0;margin-bottom:20px;background:url(../picture/index/5acdd016-efd5-44c0-b6e1-853abf824117.jpg) no-repeat;background-size:100% 100%;-webkit-animation:tblbt 20s linear infinite;}
@keyframes tblbt{ 0%{ background:url(../picture/index/5acdd016-efd5-44c0-b6e1-853abf824117.jpg) no-repeat;background-size:100% 100%;} 19%{ background:url(../picture/index/5acdd016-efd5-44c0-b6e1-853abf824117.jpg) no-repeat;background-size:100% 100%;} 20%{ background:url(../picture/index/91c91ea0-00d5-45f4-89a7-1857030f69f6.jpg) no-repeat;background-size:100% 100%; } 39%{ background:url(../picture/index/91c91ea0-00d5-45f4-89a7-1857030f69f6.jpg) no-repeat;background-size:100% 100%; } 40%{ background:url(../picture/index/99377ac1-052e-4d37-8798-cbb01665a149.jpg) no-repeat;background-size:100% 100%;} 59%{ background:url(../picture/index/99377ac1-052e-4d37-8798-cbb01665a149.jpg) no-repeat;background-size:100% 100%;} 60%{ background:url(../picture/index/e8d8461c-23f7-4e47-b5ed-2d6f3164a38c.jpg) no-repeat;background-size:100% 100%;} 79%{ background:url(../picture/index/e8d8461c-23f7-4e47-b5ed-2d6f3164a38c.jpg) no-repeat;background-size:100% 100%;} 80%{ background:url(../picture/index/fbc8383c-56ff-41da-940c-076c7e742fdb.jpg) no-repeat;background-size:100% 100%;} 99%{ background:url(../picture/index/fbc8383c-56ff-41da-940c-076c7e742fdb.jpg) no-repeat;background-size:100% 100%;} 100%{ background:url(../picture/index/5acdd016-efd5-44c0-b6e1-853abf824117.jpg) no-repeat;background-size:100% 100%;}}

#header #header-content #header-content-aside{ background:rgba(0,0,0,0.6);padding:2% 0;width:20%;}
#header #header-content #header-content-aside ul{ position:relative;padding:0;}
#header #header-content #header-content-aside li a{ display:block;font-size:11px;line-height:2;color:#fff;width:100%;text-align:left;padding:4% 10%;}
#header #header-content #header-content-aside li a span{ float:right;}
#header #header-content #header-content-aside li a:hover{ background:#ff6700;text-decoration:none; }

#header #header-content #header-content-aside ul #yccx{ position:absolute;width:600px;background:#fff;border-radius:10px;top:-25px;left:251px;box-shadow:1px 1px 5px;display:none;}
.spd:hover+#yccx{ z-index:1;}
#header #header-content #header-content-aside ul #yccx ul{ width:50%;float:left;}
#header #header-content #header-content-aside ul #yccx ul li a{ display:inline-block;color:#333;width:60%;font-size:1em;}
#header #header-content #header-content-aside ul #yccx ul li a button{ float:right;background:#fff;}
#header #header-content #header-content-aside ul #yccx ul li a:hover{ color:#ff6700;background:#fff;}
#header #header-content #header-content-aside #dw li:hover #yccx{ display:block;}
/*头部下侧*/
#header #header-bottom #header-bottom-left{ width:20%;padding:0;}
#header #header-bottom #header-bottom-left ul{ margin:0;padding:0;}
#header #header-bottom #header-bottom-left ul li{ float:left;width:30%;border:1px solid #665E57;transition:box-shadow .1s linear;}
#header #header-bottom #header-bottom-left ul li:hover{box-shadow:1px 1px 2px 1px;}
#header #header-bottom #header-bottom-left ul li img{ width:100%;}
#header #header-bottom #header-bottom-right{ margin-left:0.1%;}
#header #header-bottom #header-bottom-right a img{ width:30%;margin-left:1.1%;transform:translate(0);transition:all .3s linear; }
#header #header-bottom #header-bottom-right a img:hover{  box-shadow:2px 2px 5px 3px #ccc;transform:translateY(-4px);}

/*头部脚部*/
#header #header-footer{ padding:0;padding-bottom:1.3%;overflow:hidden;}
#header #header-footer .header-footer-top h2{ font-size:2em;color:#333;font-weight:200;}
#header #header-footer .mxlbt{ padding:0;margin:0;position:relative;overflow:hidden;}
#header #header-footer .mxlbt ul{ padding:0;margin:0;}
#header #header-footer .mxlbt ul li{ width:18.2%;background:#fafafa;padding-top:39px;margin-right:15px;border-top:1px solid #2196f3;float:left;}
#header #header-footer .mxlbt ul li a{ display:block;margin:0 auto 24px;width:70%;}
#header #header-footer .mxlbt ul li a img{ width:100%;margin:0 auto;}
#header #header-footer .mxlbt ul li h3{ text-align:center;font-size:1em;color:#212121;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#header #header-footer .mxlbt ul li p{ text-align:center;font-size:.6em;color:#b0b0b0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#header #header-footer .mxlbt ul li span{ display:block;text-align:center;font-size:.6em;color:#ff6709;}
#header #header-footer .mxlbt ul:nth-child(2){ position:absolute;top:0;left:0;-webkit-animation:mxlbt 10s linear infinite;transform:translateX(0%)}
#header #header-footer .mxlbt ul:nth-child(1){ transform:translateX(-100%);-webkit-animation:mxlbt2 10s linear infinite;}
@keyframes mxlbt{ 0%{ transform:translateX(0%)}  25%{ transform:translateX(0%)}  50%{ transform:translateX(100%)} 75%{ transform:translateX(100%)} 100%{ transform:translateX(0%)}}
@keyframes mxlbt2{ 0%{ transform:translateX(-100%)}  25%{ transform:translateX(-100%)} 55%{ transform:translateX(0%)} 75%{ transform:translateX(0%)} 100%{ transform:translateX(-100%)}}

/*主体样式*/
#main{ background:#f5f5f5;padding-top:3%;padding-left:2%}
#main ul li{ transform:translate(0);transition:all .3s linear; }
#main ul li:hover{ box-shadow:2px 2px 5px 3px #ccc;transform:translateY(-4px);}
/*主体上部样式*/

#main #main-top #main-top-top{ padding-right:4%;}
#main #main-top #main-top-top h2{ display:block;font-size:2em;}
#main #main-top #main-top-top a{ float:right;font-size:16px;line-height:1;color:#424242;transition:color .2s linear;}
#main #main-top #main-top-top a i{ margin-left:5px;}
#main #main-top #main-top-top a:hover{ color:#ff6700;text-decoration:none;}
#main #main-top #main-top-bottom{ margin-bottom:10px;}
#main #main-top #main-top-bottom #m-t-b-l{ width:16.5%;margin:0;padding:0;}
#main #main-top #main-top-bottom #m-t-b-l img{ width:100%;transform:translate(0);transition:all .3s linear;}
#main #main-top #main-top-bottom #m-t-b-l img:hover{ box-shadow:2px 2px 5px 3px #ccc;transform:translateY(-4px);}
#main #main-top #main-top-bottom #m-t-b-r{ margin:0;padding:0;}
#main #main-top #main-top-bottom #m-t-b-r ul{ padding:0;margin:0;}
#main #main-top #main-top-bottom #m-t-b-r ul li{ width:22%;background:#fff;padding-top:2%;margin-left:1.6%;float:left;margin-bottom:1.6%;padding-bottom:1%;}
#main #main-top #main-top-bottom #m-t-b-r ul li a{ display:block;margin:0 auto 10%;width:70%;}
#main #main-top #main-top-bottom #m-t-b-r ul li a img{ width:100%;margin:0 auto;}
#main #main-top #main-top-bottom #m-t-b-r ul li h3{ text-align:center;font-size:1em;color:#212121;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#main #main-top #main-top-bottom #m-t-b-r ul li p{ text-align:center;font-size:.6em;color:#b0b0b0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#main #main-top #main-top-bottom #m-t-b-r ul li span{ display:block;text-align:center;font-size:.6em;color:#ff6709;}

/*主体中部样式*/
#main #main-center{ padding:0;padding-bottom:3%;}
#main #main-center #main-center-top{ padding:10px 0 0;}
#main #main-center #main-center-top h2{ display:block;font-size:2em;}

#main #main-center #main-center-bottom ul li{ margin:0;padding:0;width:23%;background:#fafafa;padding-top:39px;margin-right:1%;border-top:1px solid #2196f3;float:left;position:relative;padding-bottom:2%;}
#main #main-center #main-center-bottom ul li a{ display:block;margin:0 auto 24px;width:70%;}
#main #main-center #main-center-bottom ul li a img{ width:100%;margin:0 auto;}
#main #main-center #main-center-bottom ul li a h3{ text-align:center;font-size:1.5em;color:#212121;}
#main #main-center #main-center-bottom ul li a p{ text-align:center;font-size:.6em;color:#b0b0b0;}
#main #main-center #main-center-bottom ul li a span{ color:#333;}
#main #main-center #main-center-bottom ul li span{ display:block;text-align:center;font-size:1em;color:#ff6709;}
#main #main-center #main-center-bottom ul li a:nth-of-type(2){ display:none;width:22px;height:100%;background:url(../images/slide-btn.png) no-repeat 0 50%;background-size:41px;position:absolute;top:0;left:0;margin-left:0px;opacity:0.5;z-index:50;}
#main #main-center #main-center-bottom ul li a:nth-of-type(3){ display:none;width:22px;height:100%;background:url(../images/slide-btn.png) no-repeat -22px 50%;background-size:41px;position:absolute;top:0;left:93.5%;margin-left:0px;opacity:0.5;z-index:50;}
#main #main-center #main-center-bottom ul li a:hover{ text-decoration:none;}
#main #main-center #main-center-bottom ul li:hover .butouming{ display:block;}
#main #main-center #main-center-bottom ul li .butouming:hover{ opacity:1;}



/*页脚样式*/
#footer{padding-left:2%}
/*页脚上部样式*/
#footer-top{ padding:0;}
#footer-top #footer-top-up{ width:95%;padding:2% 0;border-bottom:1px solid #e0e0e0;}

#footer-top #footer-top-up li{ float:left;width:19.8%;height:25px;padding:;font-size:16px;text-align:center;border-right:1px solid #e0e0e0;}
#footer-top #footer-top-up li:nth-of-type(5){ border:none;}
#footer-top #footer-top-up li a{ color:#616161;transition:font-size .5s linear;}
#footer-top #footer-top-up li a:hover{ font-size:18px;color:#EF5B00;}
#footer-top #footer-top-dow{ padding:40px 0;}
#footer-top #footer-top-dow dl{ width:10%;float:left;margin-left:2%;}
#footer-top #footer-top-dow dl dt{ font-size:16px;line-height:1.25;color:#424242;margin:-1px 0 26px;}
#footer-top #footer-top-dow dl dd{ margin:10px 0 0;font-size:14px; }
#footer-top #footer-top-dow dl dd a{ color:#757575;transition:font-size .5s linear;}
#footer-top #footer-top-dow dl dd a:hover{ font-size:16px;color:#EF5B00;}
#footer-top #footer-top-dow .dhsj{ width:20%;height:112px;float:right;border-left:1px solid #e0e0e0;text-align:center;margin-right:5%;}
#footer-top #footer-top-dow .dhsj h3{ font-size:22px;color:#ff6700;margin:-5px 0 5px;padding:0;}
#footer-top #footer-top-dow .dhsj p{ font-size:12px;margin-bottom:13px;}
#footer-top #footer-top-dow .dhsj a{ display:block;width:120px;height:28px;font-size:12px;color:#ff6700;line-height:28px;border:1px solid #f25807;margin:0 auto;transition:color .5s linear,background .5s linear;}
#footer-top #footer-top-dow .dhsj a:hover{ color:#fff;background:#f25807;}

/*页脚下部*/

#footer #footer-bottom{ padding:0;}
#footer #footer-bottom #footer-bottom-left{ float:left;padding:0;}
#footer #footer-bottom #footer-bottom-left p{ line-height:18px;color:#b0b0b0;font-size:12px;}
#footer #footer-bottom #footer-bottom-left p a{ color:#b0b0b0;transition:font-size .5s linear;color .5s linear;}
#footer #footer-bottom #footer-bottom-left p a:hover{ font-size:14px;color:#EF5B00;}
#footer #footer-bottom #footer-bottom-left p span{ margin:0.15em;font-family:sans-serif;}

#footer #footer-bottom #footer-bottom-right{ height:28px;margin:4px 0 0;}
#footer #footer-bottom #footer-bottom-right img{ height:28px;margin-left:7px;margin-top:1%;}






/*媒体查询*/
/*平板*/
@media screen and (min-width:768px) and (max-width:991px){ 
	#nav a{ font-size:10px;line-height:40px;color:#b0b0b0;position:relative;z-index:6;background:#333;}
	#nav span{ font-size:10px;line-height:40px;color:#424242;margin:0;}
	#nav .nav-right .gwc span{ display:none;}
	#nav .nav-right .gwck{ top:-155%;left:-55%;;}
	#header #header-nav .header-nav-left a:nth-child(1) img{ width:100%;}
	#header #header-nav .header-nav-left a:nth-child(2) img{ display:none;}
	#header #header-nav .header-nav-center{margin-left:0; }
	#header #header-nav .header-nav-center ul{margin-left:-4%;}
	#header #header-nav .header-nav-center ul li{ padding-left:2px;}
	#header #header-nav .header-nav-center ul li a{ display:block;padding:16px 3px 28px;color:#333;font-size:14px;}
	#header #header-nav .header-nav-right{margin-left:0%;}
	#header #header-nav .header-nav-right form{ padding:10px 0 10px 0px; }
	#header #header-nav .header-nav-right input[type="search"]{ width:90%;line-height:2; margin-left:-100%;padding-bottom:5%;}
	#header #header-nav .header-nav-right input[type="submit"]{ background:url(../images/2016-07-04T07-53-31.978Z.png) no-repeat ;background-size:100% 120%; line-height:2;width:30%;padding-bottom:5%;}
	#header #header-content #header-content-aside li a{ display:block;font-size:14px;line-height:1;color:#fff;width:100%;text-align:left;padding:10px 20px;}
	#header #header-footer .mxlbt ul li{ margin-right:10px;}
	#header #header-bottom #header-bottom-right a img{ width:30.5%;margin-left:2.3%;}
	#header #header-bottom #header-bottom-right{ margin-left:0.1%;}
	#main #main-center #main-center-bottom ul li a:nth-of-type(3){ left:89%;}
}

/*手机*/
@media screen and (min-width:1px) and (max-width:767px){ 
	#nav .nav-menu{ display:block;}
	#nav .nav-left{ display:none;}
	#nav .nav-right a{ font-size:.8em;}
	#nav .nav-right a:nth-child(1){ margin-left:20%;}
	#nav .nav-right .gwc{ width:60px;}
	#nav .nav-right .gwc span{ display:none;}
	#nav .nav-right .gwck{ width:180px;font-size:0.2em;padding:10px;top:-155%;left:0;}

	#header #header-nav .header-nav-left a:nth-child(2){ display:none;}
	#header #header-nav .header-nav-center{ display:none;}
	#header #header-nav .header-nav-right form{ padding:10px 0 10px 70px;margin-top:-2%; }
	#header #header-nav .header-nav-right input[type="search"]{ width:70%;line-height:3;padding-bottom:1%;margin-left:0;}
	#header #header-nav .header-nav-right input[type="submit"]{ background:url(../images/2016-07-04T07-53-31.978Z.png) no-repeat -2px -2px;line-height:3;width:50px;margin-left:-5px;padding-bottom:1%;}
	
	#header #header-content{ width:80%;}
	#header #header-content #header-content-aside{ width:100%;}
	#header #header-content #header-content-aside li{ float:left;width:50%;}
	#header #header-content #header-content-aside li a{ font-size:1em;line-height:1;color:#fff;width:100%;text-align:center;}
	#header #header-bottom #header-bottom-left{ /*width:98%;padding:0;*/display:none;}
	#header #header-bottom #header-bottom-right{ display:none;}

	#header #header-footer .mxlbt ul li{ width:42%;background:#fafafa;padding-top:39px;margin-right:14px;border-top:1px solid #2196f3;float:left;}
	#header #header-footer .mxlbt ul:nth-child(1) li:nth-child(5){ display:none;}
	#header #header-footer .mxlbt ul:nth-child(2) li:nth-child(5){ display:none;}

	#main #main-top #main-top-bottom #m-t-b-l{ display:none;}

	#main #main-top #main-top-bottom #m-t-b-r ul li{ width:45%;background:#fafafa;padding-top:2%;margin-left:1.6%;float:left;margin-bottom:1.6%;padding-bottom:1%;}
	#main #main-top #main-top-bottom #m-t-b-r ul li a{ display:block;margin:0 auto 10%;width:60%;}
	#main #main-top #main-top-bottom #m-t-b-r ul li a img{ width:90%;margin:0 auto;}
	#main #main-center #main-center-bottom ul li{ width:46%;}
	#footer-top{ display:none;}
	#footer #footer-bottom #footer-bottom-left{ }
	#footer #footer-bottom #footer-bottom-right{ width:100%;}
}	

