<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>荔枝FM,人人都是播客_听音乐相声评书脱口秀鬼故事广播剧网络电台</title>
	<script src="/javascripts/jquery-1.7.2.min.js"></script>
	<script src="/javascripts/play.js"></script>
    <link rel='stylesheet' href='/stylesheets/content.css' />	

</head> 
<body>
	<div id="container">
		<!-- 头部 -->
		<header class="flex">
			<section class="content flex">
				<div class="logo">
					<a href="/">
						<img src="./picture/a93351efc9fc1d11cb4c5b7e6a762700-newlogo.png" alt="">
					</a>
				</div>
				<ul class="nav flex">
					<li><a href="/">发现</a></li>
					<li><a href="/login">播客入口</a></li>
					<li><a href="#">下载客户端</a></li>
				</ul>
			</section>
		</header>
		
		<!-- 主体 -->
		
		<section id="main" class="flex">
			<section class="content">
				<div class="box-title">
					<div class="left fontYaHei">
						<a href="/" class="fontYaHei">发现</a>
						讲情话的不可能小姐
					</div>
				</div>
				
				<div class="wrap">
					<div class="wrap-info flex">
						<div class="info-left">
							<img src="/picture/12002727960291074_320x320.jpg" alt="">
						</div>
						<div class="info-right">
							<div class="radioName">
								<span>FM42936</span>
								<h1 class="fontYaHei">讲情话的不可能小姐</h1>
							</div>
							<div class="radioAttr">
								<ul>
									<li class="authorInfo fontYaHei">
										<a href="">
											<span class="authorImg">
												<img src="/picture/16115879413057154_56x56.jpg" alt="">
												<span></span>
											</span>
											<span>小ty</span>
										</a>
									</li>
									<li class="radio-label">
										<span>情感</span>-
										<a>治愈</a>
									</li>
									<li class="radio-spec fontYaHei">
										<span class="flex">
											<img src="/picture/ic_superior.png">荔枝FM签约播客
										</span>
									</li>
									
								</ul>
							</div>
							<div class="desc fontYaHei">
								<p class="desText">
									如果你只是心里话需要有人听我给你一个干净的地方<br>
									文字音乐来源于网络版权归属原作者
								</p>
							</div>
						</div>
					</div>
					<div class="wrap-item fontYaHei">
						<div class="box-title">
							节目
						</div>
						<div class="program">
							<a class="pro-cant fontYaHei" href="/play">
								<i></i>
								<div class="pro-cont">
									<p class="pro-title">
										你努力合群的样子真的好孤独
									</p>
									<p class="pro-time">
										播放量：29173&nbsp;&nbsp;&nbsp;发布于：2016-10-18&nbsp;&nbsp;&nbsp;17评论
									</p>
									<p class="pro-desc">文/来源网络 歌曲：把悲伤留给自己-孙露/怎样遇见你-孙露/怕什么孤单-孙露/等我变了之后-张芸京
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
		</section>

		<!-- 页脚 -->
		<footer class="flex fontYaHei">
			<section class="contents">
				<div class="first flex">
					<div class="attentionUs flex">
						<span>关注我们</span>
						<a href="#" class="weixin"></a>
						<a href="#" class="sina"></a>
						<a href="#" class="douban"></a>
						<a href="#" class="baidu"></a>
					</div>
					<div class="qqserver">
						<span>客服QQ</span>
						<a href="#">荔小棠</a>
					</div>
				</div>
	
				<div class="hot-promo">
					<a href="#">世界是一封情书</a>
					<a href="#">张佳玮说</a>
					<a href="#">沈氏夫夫</a>
					<a href="#">小P老师</a>
					<a href="#">耽美广播剧</a>
					<a href="#">卢思浩</a>
					<a href="#">安安老师</a>
					<a href="#">搞基实验室</a>
					<a href="#">昨天的你现在的未来</a>
					<a href="#">一些事一些情</a>
					<a href="#">伊丽莎白鼠</a>
				</div>

				<div class="findely-link flex">
					<span>友情链接</span>
					<div class="findely-link-inner">						
						<a href="#">邻居的耳朵</a>
						<a href="#">佳人</a>
						<a href="#">拍客网</a>
						<a href="#">一加手机</a>
						<a href="#">美拍</a>
						<a href="#">聚焦摄影</a>
						<a href="#">5253手游网</a>
						<a href="#">手机浏览器</a>
						<a href="#">第九软件网</a>
						<a href="#">智能电视应用</a>
						<a href="#">网页设计</a>
						<a href="#">科技新闻</a>
						<a href="#">网游加速器</a>
					</div>
					<a href="#" class="more">更多</a>
				</div>
				
				<div class="save">
					<div class="left">
						 粤网文[2016]2975-618号 粤ICP备12026999号-5
						 <br>
						 <a href="#">
						 	<img src="/picture/ghs.png">粤公网安备 44010602001357号
						 </a>
						  穗公网安备44010650010105号
						  <br>
						   广州荔支网络技术有限公司 2010-2016© All Rights Reserved. 本平台为信息网络存储空间网络服务平台 
					</div>
					<div class="right flex">
						<a href="#">精选</a>
						<a href="#">专题</a>
						<a href="#">网站地图</a>
						<a href="#">博客</a>
						<a href="#">动态</a>
						<a href="#">关于我们</a>
						<a href="#">加入我们</a>
						<a href="#">联系我们</a>
						<a href="#">服务协议</a>
						<a href="#">隐私政策</a>
					</div>
				</div>
				
				<div class="last">
					<a href="#">
						<img src="/images/hy_83x30.png" >
					</a>
				</div>
			</section>
		</footer>

		<!-- 播放器 -->
		<!-- 控制台 -->
        <div class="controller-box">
            <div class="content">
                <div class="controller-box-ctrl">
                    <i class="controller-prev" ></i>
                    <i class="controller-play" ></i>
                    <i class="controller-next" ></i>
                    <i id="controller-repeater" class="controller-repeater"></i>
                </div>
                <div class="controller-box-volume">
                    <p class="current-audio-title">&nbsp;</p>
                    <i class="controller-volume-icon"></i>
                    <div class="rangeslider-wrap">
                        <div class="rangeslider" id="controller-volume">
                            <div class="rangeslider__fill" style="width: 0px;"></div>
                        </div>
                    </div>
                </div>
                <div class="controller-box-position">
                    <p class="current-audio-title" id="current-audio-title">&nbsp;</p>
                    <div class="rangeslider-wrap">
                        <div class="rangeslider" id="controller-position">
                            <div class="rangeslider__fill" style="width: 0px;"></div>
                            <div class="rangeslider__handle" style="left: 0px;"></div>
                            <div class="rangeslider__cache" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div id="position" class="controller-position">00'00"</div>
                    <div id="duration" class="controller-duration">00'00"</div>
                </div>
            </div>
        </div>
        
    </div>
	<audio src="/media/伊藤サチコ - いつも何度でも.mp3" autoplay >
		对不起,您的破浏览器没有这么高级的功能,请您及时更新
	</audio>
	</div>
</body>
</html>
