/*公共样式*/
*{ margin:0;padding:0;}
@font-face{ font-family:'sanv';src:url(../font/huakang.ttf);}
body{ font-family:sanv;font-size:14px;line-height:1.5;}
header main footer section aside nav{ display:block;}
a{ text-decoration:none;}
li{ list-style:none;}
.clearfix::after{ clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
@keyframes mystyle{ 0%{opacity:0;background-color:#fff;} 100%{opacity:1;}}
body{font-size:14px;animation:mystyle 1s linear;}
.xuanze{ cursor:pointer;}
.default{ cursor:default;}
/*头部样式*/
header{ width:100%;height:100px;border-bottom:2px solid #ff6700;}
header #header-contant{width:1226px;margin:0 auto;}

/*头部左侧logo*/
header #header-contant #header-left{ width:93px;height:48px;float:left;margin-top:26px;}
header #header-contant #header-left .logo{ width:48px;height:48px;margin:0 auto;display:block;-webkit-animation:put 1s linear infinite;transition:all 2s linear;}
	@keyframes put{ 
			0%{ transform:scale(1);}
			50%{ transform:scale(1.1);}
			100%{ transform:scale(1);}
		}
/*头部右侧*/
header #header-contant #header-right{ float:right;height:40px;margin-top:30px;line-height:40px;color:#ccc;}
header #header-contant #header-right span{ font-size:14px;}
header #header-contant #header-right span a{ font-size:14px;color:#757575;transition:font-size .5s linear;}
header #header-contant #header-right span  a:hover{ font-size:16px;color:#EF5B00;}

/*主体样式*/
main{ width:100%;}

/*导航样式*/
main #nav{ width:1226px;margin:0 auto;padding-top:15px;font-size:16px;}
main #nav ul{ border-bottom:1px solid #dfdfdf;}

main #nav ul li{ float:left;width:12.5%;height:76px;line-height:76px;text-align:center;}
main #nav ul li a{ color:#333;display:block;}
main #nav ul li a:focus{ border-bottom:1px solid #000;}
main #nav ul li a{ -webkit-animation:doud .5s linear infinite 1.6s;}
@keyframes doud{ 
				0%{-webkit-transform:scale(1); transform:rotate(0deg);} 
				25%{ -webkit-transform:scale(1);transform:rotate(10deg);} 
				75%{ -webkit-transform:scale(1);transform:rotate(-10deg);}
				100%{ -webkit-transform:scale(1);transform:rotate(0deg);} 
			}
/*主体上部样式*/
main #main-top{ border-bottom:1px solid #b0b0b0;}
main #main-top #main-top-content{ width:1226px;margin:0 auto 110px;}
/*主体上部左侧样式*/
main #main-top #main-top-content .m-t-c-l{ width:600px;height:600px;padding:50px 0 0 48px;float:left;-webkit-perspective-origin:300px 300px;-webkit-perspective:1100px;}
main #main-top #main-top-content .m-t-c-l img{ -webkit-transform-origin:center center; -webkit-transform:rotateY(0deg);-webkit-animation:sjxz 4s linear infinite;-webkit-transform-style:preserve-3d;}
@keyframes sjxz{ 0%{transform:rotateY(0deg);} 50%{ transform:rotateY(180deg);} 100%{ transform:rotateY(360deg);}}
/*主体上部右侧样式*/
main #main-top #main-top-content .m-t-c-r{ float:right;margin-top:60px;width:544px;}
main #main-top #main-top-content .m-t-c-r .m-t-c-r-t{ height:60px;border-bottom:1px solid #dfdfdf;margin-bottom:25px;}
main #main-top #main-top-content .m-t-c-r .m-t-c-r-t h1{ float:left;font-size:30px;line-height:56px;}
main #main-top #main-top-content .m-t-c-r .m-t-c-r-t h1 span{ color:#ff6700;}
main #main-top #main-top-content .m-t-c-r .m-t-c-r-t a{ margin-top:26px;float:right;display:block;font-size:12px;color:#666;transition:font-size .5s linear;}
main #main-top #main-top-content .m-t-c-r .m-t-c-r-t a:hover{ font-size:14px;color:#EF5B00;}

main #main-top #main-top-content .m-t-c-r .explain{ color:#f00;}
main #main-top #main-top-content .m-t-c-r h2{ height:36px;font-size:18px;line-height:2;font-weight:normal;padding:10px 0;}
main #main-top #main-top-content .m-t-c-r ul{ margin-left:-14px;}
main #main-top #main-top-content .m-t-c-r ul li a{ display:block;color:#333;width:263px;height:48px;line-height:48px;text-align:center;border:1px solid #dfdfdf;float:left;margin:0 0 14px 14px;position:relative;}
main #main-top #main-top-content .m-t-c-r ul .zys{ color:#8c8c8c;}
main #main-top #main-top-content .m-t-c-r ul li a:focus{ border:1px solid #95B7EE;}
main #main-top #main-top-content .m-t-c-r .versions ul li a:focus .default{ cursor:pointer;}
main #main-top #main-top-content .m-t-c-r .versions ul li a:hover{ color: #fff;background-color: #f0ad4e;
border-color: #eea236;}
main #main-top #main-top-content .m-t-c-r ul li img{ width:20px;height:20px;border-radius:10px;position:absolute;left:87px;top:14px;}
main #main-top #main-top-content .m-t-c-r .product{ margin:26px 0 10px; }
main #main-top #main-top-content .m-t-c-r .product span{ line-height:24px;color:#212121; }
main #main-top #main-top-content .m-t-c-r .product button{ display:block;margin-top:25px;width:178px;height:48px;border:1px solid #dfdfdf;font-size:14px;line-height:2;color:#b0b0b0;background:#fff;font-family:sanv;}

main #main-top #main-top-content .m-t-c-r .product button:hover{ color: #fff;background-color: #d9534f;
border-color: #d43f3a;}


main #main-top #main-top-content .m-t-c-r .color ul li:nth-of-type(1) a{ animation:jbsj 1s linear infinite;background:-webkit-radial-gradient(center,circle farthest-corner,#EBDBAE,#fff);}
@keyframes jbsj{ 
	0%{ background:-webkit-radial-gradient(center,circle farthest-corner,#EBDBAE,#fff);}
	50%{ background:-webkit-radial-gradient(center,circle farthest-corner,#fff,#EBDBAE);}
	100%{ background:-webkit-radial-gradient(center,circle farthest-corner,#EBDBAE,#fff);}
}
main #main-top #main-top-content .m-t-c-r .color ul li:nth-of-type(2) a{ animation:jbsy 1s linear infinite;background:-webkit-radial-gradient(center,circle farthest-corner,#D3D4D8,#fff);}
@keyframes jbsy{ 
	0%{ background:-webkit-radial-gradient(center,circle farthest-corner,#D3D4D8,#fff);}
	50%{ background:-webkit-radial-gradient(center,circle farthest-corner,#fff,#D3D4D8);}
	100%{ background:-webkit-radial-gradient(center,circle farthest-corner,#D3D4D8,#fff);}
}
/*主体中部样式*/

/*主体中部上侧*/
#main-center #main-center-top{ border-bottom:1px solid #b0b0b0; }
#main-center #main-center-top #m-c-t-t{ width:1226px;margin:0 auto;border-bottom:1px solid #b0b0b0;}

#main-center #main-center-top #m-c-t-b{position:relative;height:700px;padding-top:52px;box-sizing:border-box;}
#main-center #main-center-top #m-c-t-b a:nth-child(1){ display:block;height:648px;width:1226px;margin:0 auto;}
#main-center #main-center-top #m-c-t-b a:nth-child(2){ display:block;width:41px;height:100%;background:url(../images/slide-btn.png) no-repeat 0 50%;position:absolute;top:0;left:50%;margin-left:-620px;opacity:0.5;z-index:50;}
#main-center #main-center-top #m-c-t-b a:nth-child(3){ display:block;width:41px;height:100%;background:url(../images/slide-btn.png) no-repeat -41px 50%;position:absolute;top:0;left:50%;margin-left:580px;opacity:0.5;z-index:50;}
#main-center #main-center-top #m-c-t-b .butouming:hover{ opacity:1;}

/*主体中部下侧*/
#main-center-bottom #m-c-b-t #m-c-b-t-t a{ display:block;width:1226px;margin:0 auto;border-bottom:1px solid #b0b0b0;}
#main-center-bottom #m-c-b-t #m-c-b-t-b{ width:1226px;margin:0 auto;border-bottom:1px solid #b0b0b0;}
#main-center-bottom #m-c-b-t #m-c-b-t-b a{ display:block;width:100%;padding:80px 0 60px;text-align:center;font-size:30px;color:#424242;font-weight:bold;}
#main-center-bottom #m-c-b-t #m-c-b-t-b a span{ display:inline-block;border-style:solid;border-width:8px 6px;border-color:#d6d6d6 transparent transparent transparent;margin-left:10px;}

#main-center-bottom #m-c-b-c #m-c-b-c-t{ width:1226px;margin:0 auto;text-align:center;}
#main-center-bottom #m-c-b-c #m-c-b-c-t h1{ font-size:30px;line-height:1.4;padding:90px 0 60px;}

#main-center-bottom #m-c-b-c #m-c-b-c-t ul{ overflow:hidden;height:780px;}
#main-center-bottom #m-c-b-c #m-c-b-c-t ul li{ width:33.33%;height:390px;border-left:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;float:left;margin-left:-1px;margin:bottom:-1px;}
#main-center-bottom #m-c-b-c #m-c-b-c-t ul li a h3{ margin-top:50px;font-size:20px;color:#333;}
#main-center-bottom #m-c-b-c #m-c-b-c-t ul li a p{ margin:10px 0 0;font-size:16px;color:#f36701;}
#main-center-bottom #m-c-b-c #m-c-b-c-t ul li a p strong{ font-size:36px;}
#main-center-bottom #m-c-b-c #m-c-b-c-t ul li a img{ width:220px;height:220px; }
#main-center-bottom #m-c-b-b a{ display:block;width:1226px;margin:0 auto;}

/*主体下部样式*/
#main-bottom #main-bottom-up{ width:1226px;margin:0 auto;padding:27px 0;border-bottom:1px solid #e0e0e0;}
#main-bottom #main-bottom-up li{ float:left;width:19.8%;height:25px;line-height:25px;font-size:16px;text-align:center;border-right:1px solid #e0e0e0;}
#main-bottom #main-bottom-up li:nth-of-type(5){ border:none;}
#main-bottom #main-bottom-up li a{ color:#616161;transition:font-size .5s linear;}
#main-bottom #main-bottom-up li a:hover{ font-size:18px;color:#EF5B00;}
#main-bottom #main-bottom-dow{ width:1226px;margin:0 auto;padding:40px;}
#main-bottom #main-bottom-dow dl{ width:160px;float:left;}
#main-bottom #main-bottom-dow dl dt{ font-size:16px;line-height:1.25;color:#424242;margin:-1px 0 26px;}
#main-bottom #main-bottom-dow dl dd{ margin:10px 0 0;font-size:14px; }
#main-bottom #main-bottom-dow dl dd a{ color:#757575;transition:font-size .5s linear;}
#main-bottom #main-bottom-dow dl dd a:hover{ font-size:16px;color:#EF5B00;}
#main-bottom #main-bottom-dow .dhsj{ width:251px;height:112px;float:right;border-left:1px solid #e0e0e0;text-align:center;}
#main-bottom #main-bottom-dow .dhsj h3{ font-size:22px;color:#ff6700;margin:-5px 0 5px;padding:0;}
#main-bottom #main-bottom-dow .dhsj p{ font-size:12px;margin-bottom:13px;}
#main-bottom #main-bottom-dow .dhsj a{ display:block;width:118px;height:28px;font-size:12px;color:#ff6700;line-height:28px;border:1px solid #f25807;margin:0 auto;transition:color .5s linear,background .5s linear;}
#main-bottom #main-bottom-dow .dhsj a:hover{ color:#fff;background:#f25807;}

/*页脚样式*/
footer{ padding:30px 0;background:#fafafa;font-size:12px; }
footer #foot-top{ width:1226px;margin:0 auto; }
footer #foot-top #foot-top-left{ float:left;}
footer #foot-top #foot-top-left p{ line-height:18px;color:#b0b0b0;font-size:12px;}
footer #foot-top #foot-top-left p a{ color:#b0b0b0;transition:font-size .5s linear;color .5s linear;}
footer #foot-top #foot-top-left p a:hover{ font-size:14px;color:#EF5B00;}
footer #foot-top #foot-top-left p span{ margin:0.15em;font-family:sans-serif;}

footer #foot-top #foot-top-right{ float:right;height:28px;margin:4px 0 0;}
footer #foot-top #foot-top-right img{ height:28px;margin-left:7px;}
footer #foot-bottom{ width:267px;margin:30px auto 0;}
